<!DOCTYPE html>
<html>
<head>
  <title>Slot Availability</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="header">
    <div class="homenav">
      <div class="headertext home">Lab Reservation System</div>
      <nav>
        <a href="availability.html">View Slot Availability</a>
        <a href="reservations.html" id="ReservationsLink">Reservations</a>
        <a href="profile.html">User Profile</a>
        <a href="technician.html" id="techLink" style="display:none;">Technician Dashboard</a>
      </nav>
    </div>
  
    <input type="button" value="Logout" id="logout" name="logout" onclick="logout()">
  </div>

  <div class="container">
    <div class="availability">
      <div class="headertext">View Slot Availability</div>
        
      <div class="labselection">
        <select id="labSelect"></select>
        <input type="date" id="dateSelect">

        <div class="tablescroll">
          <table id="slotsTable">
            <tr>
              <th>Time</th>
              <th>Seat</th>
              <th>Status</th>
            </tr>
          </table>
        </div>
      </div>

      <div class="headertext">Search Available Slots</div>

      <div class="searchslot">        
        <div>
          <select id="timeSelect"></select>
          <button onclick="search()">Search</button>
        </div>
        <div class="resultscroll">
          <ul id="results"></ul>
        </div>
      </div>
      <!--Search Available Slots-->
      
    
      <div class="backfooter">
        <a href="home.html">Back to Home Page</a>
      </div>
    </div>

  </div>
  <script src="js/home.js"></script>
  <script src="js/authGuard.js"></script>
  <script src="js/availability.js"></script>

</body>
</html>
