<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="header">
    <div class="homenav">
      <div class="headertext home">Lab Reservation System</div>
      <nav>
        <a href="availability.html">View Slot Availability</a>
        <a href="reservations.html" id="ReservationsLink">Reservations</a>
        <a href="profile.html">User Profile</a>
        <a href="technician.html" id="techLink" style="display:none;">Technician Dashboard</a>
      </nav>
    </div>
  
    <input type="button" value="Logout" id="logout" name="logout" onclick="logout()">
  </div>
<div class="container">
  <div class="profile">
    <div class="profileheader">
      <img id="profilePic">
      <div>
        <div class="headertext" id="profileName"></div>
          <p id="profileDesc" class="desc"></p>
      </div>
    </div>

    <div class="profilereservation">
      <div class="headertext">Current Reservations</div>
      <div class="reservationscroll">
        <ul id="reservationList"></ul>
      </div>
    </div>

    <div class="backfooter">
      <div id="editSection"></div>
      <a href="home.html">Back to Home Page</a>
    </div>
  </div>
</div>

<!--Edit profile-->
<div id="editProfileModal" class="modal" style="display:none;">
  <div class="modal-content">
    
    <div class="modal-header">
      <h2>Edit Profile</h2>
      <button class="close-button" onclick="closeEditModal()">&times;</button>
    </div>

    <form id="editProfileForm" class="modal-form">
      <div class="form-group">
        <label>Description:</label>
        <textarea id="editDescription" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label>Profile Picture URL:</label>
        <input type="text" id="editProfilePic">
      </div>

      <div class="modal-actions">
        <button type="button" onclick="closeEditModal()">Cancel</button>
        <button type="submit">Save Changes</button>
      </div>
    </form>
  </div>
</div>

<script src="js/authGuard.js"></script>
<script src="js/profile.js"></script>
<script src="js/home.js"></script>


</body>
</html>
