<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="about">
                <div class="headertext">About This Application</div>
                <p>This is a simple Laboratory Reservation System. Within the system,
                    users can view the available slots for each lab and make reservations for the desired time and seat.
                </p>
                </div>
                <div class="npm_stack">
                    <p>The application was built using the following libraries:</p>
                    <ul>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>Bcrypt</li>
                    </ul>
                </div>
                <div class="backfooter">
                    <a href="home.html">Back to Home Page</a>
            </div>
        
    </body>
</html>
