<!DOCTYPE html>
<html>
<head>
  <title>Slot Availability</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="availability">
      <div class="headertext">View Slot Availability</div>
        
      <div class="labselection">
        <select id="labSelect"></select>
        <input type="date" id="dateSelect">

        <div class="tablescroll">
          <table id="slotsTable">
            <tr>
              <th>Time</th>
              <th>Seat</th>
              <th>Status</th>
            </tr>
          </table>
        </div>
      </div>

      <div class="headertext">Search Available Slots</div>

      <div class="searchslot">        
        <div>
          <select id="timeSelect"></select>
          <button onclick="search()">Search</button>
        </div>
        <div class="resultscroll">
          <ul id="results"></ul>
        </div>
      </div>
      <!--Search Available Slots-->
      
    
      <div class="backfooter">
        <a href="home.html">Back to Home Page</a>
      </div>
    </div>

  </div>

  <script src="js/authGuard.js"></script>
  <script src="js/availability.js"></script>

</body>
</html>
