<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lab Reservation System</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="header">
    <div class="homenav">
      <div class="headertext home">Lab Reservation System</div>
      <nav>
        <a href="about.html" id="aboutLink">About</a>
        <a href="availability.html">View Slot Availability</a>
        <a href="reservations.html" id="ReservationsLink">Reservations</a>
        <a href="profile.html">User Profile</a>
        <a href="technician.html" id="techLink" style="display:none;">Technician Dashboard</a>
      </nav>
    </div>
  
    <input type="button" value="Logout" id="logout" name="logout" onclick="logout()">
  </div>

  <script src="js/home.js"></script>
  <script src="js/authGuard.js"></script>






  
</body>
</html>
