<!DOCTYPE html>
<html>
<head>
  <title>Reservations</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="reservations">

      <div class="headertext">Reservations</div>

      <div class="formflex">
        <div class="reserve">
          <div class="headertext">Reserve a Slot</div>
          <div class="formlab">
            <label>Lab:</label>
            <select id="labSelect"></select>
          </div>

          <div class="formdate">
            <label>Date:</label>
            <input type="date" id="dateSelect">
          </div>

          <div class="formtime">
            <label>Time:</label>
            <select id="timeSelect"></select>
          </div>

          <div class="formseat">
            <label>Seat:</label>
            <select id="seatSelect"></select>
          </div>

          <label>
            <input type="checkbox" id="anonymous">
            Reserve Anonymously
          </label>

          <button id="confirmButton">Confirm Reservation</button>
        </div>
      </div> 

      

      <div class="tablescroll">
        <table id="resTable">
          <tr>
            <th>Lab</th>
            <th>Seat</th>
            <th>Date</th>
            <th>Time</th>
            <th>Date Requested</th>
            <th>Actions</th>
          </tr>
        </table>
      </div>

      <div id="editModal" class="modal">
        <div class="modal-content">
          <h2>Edit Reservation</h2>

          <form id="editForm">
            <label>Lab:</label>
            <select id="editLab"></select>

            <label>Date:</label>
            <input type="date" id="editDate" required>

            <label>Time:</label>
            <select id="editTime"></select>

            <label>Seat:</label>
            <select id="editSeat"></select>

            <button type="button" onclick="closeEditModal()">Cancel</button>
            <button type="submit">Save Changes</button>
          </form>
        </div>
      </div>

      <div class="backfooter">
        <a href="home.html">Back to Home Page</a>
      </div>

    </div>
  </div>

  <script src="js/authGuard.js"></script>
  <script src="js/reservations.js"></script>

</body>
</html>
