<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lab Reservation System-Sign-Up</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="signup">
            <div class="headertext">SIGN UP</div>
            <form id="signUpForm" name="signUpForm">
                <!--Ask for first name and last name-->
                <section class="name">
                    <label for="fName">First Name:</label>
                    <input type="text" id="fName" name="fName" required>
                </section>
                <section class="name">
                    <label for="lName">Last Name:</label>
                    <input type="text" id="lName" name="lName" required>
                </section>
                <!--2. Ask for email-->
                <section class="email">
                    <label for="signemail">Email:</label>
                    <input type="email" id="signemail" name="signemail" placeholder="Enter your email"required>
                </section>
    
                <!--3. Set a password-->
                <section class="password">
                    <label for="password">Password:</label>
                    <input type="password" id="s_password" name="password" required>
                </section>
    
                <!--4. Declare Role (Student or Technician)-->
                <section class="role">
                    <label for="role">Role:</label>
                    <input type="radio" id="student" name="role" value = "student" required>
                    <label for="student">Student</label>
                    <input type="radio" id="technician" name="role" value = "technician">
                    <label for="technician">Technician</label>
                </section>
    
                <!--5. Submit for Account Creation-->
                <section class="submit">
                    <button type="submit" id="submit">Submit</button>
                </section>
            </form>
        </div>
    </div>

    <!--Reference the data.js and login_sign.js files-->
    <script src = "js/data.js"></script>
    <script src = "js/login_sign.js"></script>
</body>
</html>
</html>
